@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pacifico&display=swap');

:root {
	--accent: hsl(12, 27%, 29%);
}

* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  width: 70ch;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 .5rem;
	background: hsl(9, 12%, 11%);
  color: white;
	font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a { 
  color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 0.5rem;
}

.section, .card-container {
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: .5rem;
}

.card-container {
	display: flex;
	flex-direction: column;
	background: hsl(11, 15%, 15%);
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	border: 1px solid transparent;
	transition: .2s;
}

.card-container:hover {
	border: 1px solid #4f4645;
}

.card-title {
	display: flex;
	align-items: center;
	gap: .5rem;
	margin: 0;
	font-size: 1.5em;
	margin-bottom: 1.5rem;
}

.card-button-link {
	align-self: flex-end;
}

.section-group-link {
	display: grid;
	place-content: center;
	border-radius: 30px;
	padding: .7rem;
	background: hsl(12, 27%, 29%);
	transition: 0.3s;
}

.topic-links {
	font-size: 1.3em;
}

.button-link, .card-button-link {
	padding: .8rem 1.5rem;
	border-radius: 40px;	
	background: hsl(12, 27%, 29%);
	text-decoration: none;
	transition: 0.3s;
}

.button-link:hover, .section-group-link:hover {
	border-radius: 10px;
}

.section-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section-label {
	font-size: 2em;
  font-weight: 700;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pfp {
  width: 130px;
  height: 130px;
  border-radius: 100px;
	margin-bottom: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.name-container h1 {
  margin: 0;
}

.title {
	color: hsl(11, 31%, 90%);
  font-size: 3em;
  font-family: "Pacifico", cursive;
  font-style: normal;
	position: relative;
}

.title::before, .title::after {
	position: absolute;
	opacity: 0;
	transition: .4s;
	pointer-events: none;
	color: hsl(9, 12%, 26%);
}

.title::before {
	content: "Ange";
	left: -3.9ch;
}

.title:hover::before {
	left: -4ch;
	opacity: 1;
}

.title::after {
	content: " Rafael";
	transform: translateX(-0.1ch);
}

.title:hover::after {
	opacity: 1;
	transform: translateX(0ch);
}

.dim {
  color: hsl(0, 0%, 56%);
  fill: hsl(0, 0%, 56%);
  font-style: italic;
}

.certified {
  --color: hsl(141, 71%, 62%); 
  color: var(--color);
  background: color-mix(in hsl shorter hue, var(--color) 30%, black 80%);
  margin-top: 5rem;
  padding-top: 2rem;
  text-align: center;
}

.big-section-icon {
  width: 60px;
  height: auto;
}

.kije {
  width: 30px;
  height: auto;
}

footer {
  margin: 7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
