:root {
  --accent: #6779FF;
  --bradius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  width: 70ch;
  max-width: 100%;
  display: flex;
  margin: auto;
  padding: 0 .5rem;
  background: hsl(0, 0%, 14%);
  color: white;
  font-family: sans-serif;
}

a { 
  color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem 0.5rem;
}

.section {
  border-radius: 10px;
  padding: 1rem;
  background: #333;
  margin-bottom: .5rem;
}

.chrome-warning {
  display: none;
  background: hsl(356, 71%, 39%);
}

.banner {
  height: 180px;
  border-radius: var(--bradius);
  background: url("./img/bg2.webp");
  background-size: cover;
  background-position: 0 15%;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.name-container {
  display: flex;
  gap: 1rem;
}

.bunch {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.bunch p, .bunch h1 {
  margin: 0;
}

.pfp {
  width: 130px;
  height: 130px;
  border-radius: 200px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.tagline {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.firefox {
  color: white;
  background: #09031c;
  text-align: center;
  margin: 0;
}

.firefox-link {
  display: inline-block;
  padding: .7rem 1rem;
  margin: 1rem 0;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: var(--bradius);
}

.firefox-logo {
  --ratio: 150px;
  width: var(--ratio);
  height: var(--ratio);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery {
  background: url('./img/render2.png'), linear-gradient(50deg, hsla(0, 0%, 0%, 70%) 40%, hsla(0, 0%, 0%, 0%) 70%);
}

.retaped {
  background: linear-gradient(50deg, hsla(0, 0%, 0%, 70%) 10%, hsl(341, 100%, 55%) 70%);

}

.project-link {
  padding: 2rem;
  border-radius: var(--bradius);
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 10%), 0 1px 8px hsla(0, 0%, 0%, 20%);
  background-blend-mode: color;
  background-size: cover;
  background-position: 100% 35%;
}

.flickr { color: hsl(133, 76%, 75%) }
.github { color: hsl(56, 92%, 70%) }
.coffee { color: hsl(52, 100%, 45%); }

.dim {
  color: hsl(0, 0%, 56%);
  fill: hsl(0, 0%, 56%);
  font-style: italic;
}

.certified {
  --color: hsl(141, 71%, 62%); 
  color: var(--color);
  background: color-mix(in hsl shorter hue, var(--color) 30%, black 80%);
  margin-top: 5rem;
  padding-top: 2rem;
  text-align: center;
}

.big-section-icon {
  --ratio: 60px;
  width: var(--ratio);
  height: var(--ratio);
}

.kije {
  width: 30px;
  height: auto;
}

footer {
  margin: 7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
