body {
  width: 80ch;
  max-width: 100%;
  margin: auto;
  padding: 15rem 1.5rem;

  background: #060809;
  color: white;
  font-family: sans-serif;
}

h1 { font-size: 2.5rem; }

p { color: whitesmoke; }

a { color: currentColor; }

.flickr, 
.github, 
.coffee {
  padding: .1rem .2rem;
  font-weight: bold;
}

.flickr { color: hsl(329, 100%, 60%); }

.github { color: hsl(0, 0%, 100%); }

.coffee { color: hsl(52, 100%, 45%); }

footer { margin-top: 4rem; }

.dim, 
.uncopyright, 
.publish-date {
  color: #757c88;
}

